html {
    font-family: sans-serif;
    font-size: 20px;
}
body {
    background-color: #F6D0CB;
    margin: 0;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    text-shadow: 0 3px 20px rgb(65, 15, 70);;
}
h1 span {
    color: rgb(65, 15, 70);
    text-shadow: 0 3px 20px rgb(255, 255, 255);;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem; 
    color: rgb(65, 15, 70);
    margin: 48px 0 24px;
}
.photo {
    border-radius: 50%;
    border: 6px solid rgb(255, 255, 255);
    width: 250px;
    margin-right: 20px;
}
.header {
    background-image: url(/images/photo-1636116461481-4c3ec444c9f8.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 40px 200px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.technologie img {
    width: 1em;
    height: 1em;
    object-fit: contain;
}
.technologie ol {
    display: inline-block;
    text-align: left;
    margin: auto;
}


.contakt {
    background: rgb(65, 15, 70);
    padding: 20px 40px;
}
.contakt ul {
    text-align: center;
}
.contakt li {
    display: inline-block;
}

.contakt a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0 40px;
    font-size: 0.8rem;
}
.contakt a:hover,
.contakt a:active {
    color:  #F6D0CB;
}