body {
    background-color: rgb(253, 214, 178);
}
h1 {
    color: rgb(100, 50, 0);
}
.photo {
    border-radius: 50%;
    border-radius: 2px solid rgb(100, 50, 0);
    width: 200px;
    float: left;
    margin-right: 20px;
}